#map {
    width: 100%;
    height: 100vh;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.8s ease-out forwards;
  }
  
.options-card{
  position: absolute;
  top: 600px;
  left: 100px;
  z-index: 9999;
}

.names-list{
  border: 2px solid var(--primary-color);
  position: absolute;
  right: 100px;
  top: 170px;
  z-index: 9999;
  width: 275px;
  // background-color: #F0F0F0;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  color: white;
  font-size: 16px;
  min-height: 200px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s ease-out forwards;
  border-radius: 15px;
  padding: 0px 12px;
  li{
    margin-bottom: 14px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  li:hover{
    color: var(--primary-color);
    transform: scale(1.05);
  }
}

.logo{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;
  width: 350px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}